<section class="activation">
  <h2>Активация аккаунта</h2>
  <div id="activationStatus" class="status">Активация...</div>
</section>

{{#section 'scripts'}}
<script src="/js/activate.js"></script>
{{/section}}