<header>
  <div class="container">
    <h1><a href="/">Novelune</a></h1>
    <p>Платформа для публикации и чтения литературных произведений</p>
    
    <div class="auth-nav">
      {{#if user}}
        <span>{{user.username}}</span>
        <a href="/dashboard" class="button header-cabinet-btn">Личный кабинет</a>
        <button id="logoutBtn" class="button third">Выйти</button>
      {{else}}
        <a href="/login" class="button">Войти</a>
        <a href="/register" class="button third">Регистрация</a>
      {{/if}}
    </div>
  </div>
</header>